@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-darkViolet: 81, 98, 134;
    --color-green-btn: 112, 191, 68;
    --color-red-btn: 255, 89, 89;
    --color-violet-card: 136, 116, 200;
    --color-base-text: 0, 0, 0;
    --color-wait-call: 46, 53, 58;
    --color-colum-color: 244, 247, 253;
    --color-column-border: 244, 244, 244;
    --color-card-color: 252, 253, 254;
    --color-card-border: 218, 218, 218;
    --color-card-text-bg: 245, 245, 245;
    --color-column-bg: 244, 247, 253;
  }
}

@layer base {
  html {
    @apply font-sans;
    /* font-family: @apply font-sans; */
  }
}

/* @layer base{
    @font-face {
        font-family: "Segoe-UI";
        font-weight: 700;
        src: url(../public/Segoe-UI/Segoe\ UI\ Bold\ Italic.ttf) format('ttf'),
    }
}

@layer base{
    @font-face {
        font-family: "Segoe-UI-Regular";
        font-weight: 400;
        src: url(../public/Segoe-UI/Segoe-UI.woff) format('woff'),
    }
} */
